{% extends 'home.html' %}
{% load static %}


{% block content %}
<!-- Older posts done  -->
<br>
<section class="older-posts section">
    <div class="container">
        

        <h2 class="title section-title" data-name="Older posts"  >Older posts</h2>

        <div class="older-posts-grid-wrapper d-grid">

            {% for x in all_data %}

            <a href="{% url 'post_detail' x.pk %}" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="{{x.post_image.url}}" alt="" class="article-image">
                </div>

                <div class="article-data-container">

                    <div class="article-data">
                        <span>{{x.post_date}}</span>
                        <span class="article-data-spacer"></span>
                        <span>{{x.post_read_min}} Min read</span>
                    </div>

                    <h3 class="title article-title">{{x.post_title}}</h3>
                    <p class="article-description">{{x.post_desc|truncatechars:150}}</p>

                </div>
            </a>

            {% endfor %}

            

        </div>
        

    </div>

</section>
{% endblock %}